<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body class="container">
    <header><%- include('./partials/header') %></header>

    <main>
      <div class="jumbotron">
        <h1>This is the About Page</h1>
        <p>You can see EJS is awesome</p>
      </div>
    </main>

    <footer><%- include('./partials/footer') %></footer>
  </body>
</html>
